<div class="card mb-3">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center align-items-center">
      <img class="img-responsive center-block"
        src="{{#if displayUser.image}}{{displayUser.image}}{{else}}https://i.imgur.com/xz2qbxJ.png{{/if}}"
        alt="no-photo" width="300px" height="300px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{displayUser.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{displayUser.email}}</h6>
        <ul class="list-unstyled">
          <li><strong>{{displayUser.Comments.length}}</strong> 已評論餐廳</li>
        </ul>
        <ul class="list-unstyled">
          <li><strong>{{displayUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳</li>
        </ul>
        <ul class="list-unstyled">
          <li><strong>{{displayUser.Followers.length}}</strong> followers (追蹤者)</li>
        </ul>
        <ul class="list-unstyled">
          <li><strong>{{displayUser.Followings.length}}</strong> followings (追蹤中)</li>
        </ul>
        {{#if (equal displayUser.id user.id)}}
        <a href="/users/{{displayUser.id}}/edit" class="btn btn-primary mt-3">Edit</a>
        {{/if}}
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>{{displayUser.Comments.length}}</strong> 已評論餐廳
      </div>
      <div class="card-body">
        {{#each displayUser.Comments}}
        <a href="/restaurants/{{this.RestaurantId}}">
          <img src="{{this.Restaurant.image}}" width="60px" height="60px" class="avatar">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>{{displayUser.FavoritedRestaurants.length}}</strong> 收藏的餐廳
      </div>
      <div class="card-body">
        {{#each displayUser.FavoritedRestaurants}}
        <a href="/restaurants/{{this.id}}">
          <img src="{{this.image}}" width="60px" height="60px" class="avatar">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>{{displayUser.Followers.length}}</strong> followers (追蹤者)
      </div>
      <div class="card-body">
        {{#each displayUser.Followers}}
        <a href="/users/{{this.id}}">
          <img src="{{this.image}}" width="60px" height="60px" class="avatar">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>{{displayUser.Followings.length}}</strong> followings (追蹤中)
      </div>
      <div class="card-body">
        {{#each displayUser.Followings}}
        <a href="/users/{{this.id}}">
          <img src="{{this.image}}" width="60px" height="60px" class="avatar">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>